@model List<Project>

@{
	ViewData["Title"] = "Index";
}

<style>
    a{
        text-decoration: none;
    }
</style>

<alert message="@TempData["msg"]"></alert>

<form asp-action="FindByTitle">

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="stringTitle" name="stringTitle" placeholder="Find project by title" aria-label="Find project by title" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>

</form>

<div class="btn-group btn-group-sm" role="group" aria-label="Small button group">
    <a class="btn btn-outline-success" asp-action="create" asp-controller="project" role="button">Create</a>
    <a class="btn btn-outline-success" asp-action="index" asp-controller="project" role="button">List</a>
</div>

<div class="container text-center mt-5">
    
    <div class="d-flex justify-content-around flex-wrap">
        @foreach (var p in Model)
        {
            <div class="card mb-4" style="width: 18rem;">
                <img src="/Images/@p.ImageName" alt="Project Image" />
                <div class="card-body">
                    <h5 class="card-title">@p.Title</h5>
                    <p class="card-text">@p.Description</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><p>Technologies Used</p> @p.TechnologiesUsed</li>
                    <li class="list-group-item"><p>Start Date</p> @p.StartDate</li>
                    <li class="list-group-item"><p>End Date</p> @p.EndDate</li>
                    <li class="list-group-item"><a href="@p.ProjectUrl">See the project</a> </li>
                </ul>
                <div class="card-body">
                    <a asp-action="edit" asp-route-id="@p.Id" class="btn btn-primary">Edit</a>
                    <custom-button text="Delete" onclick="key.value = @p.Id" data-bs-toggle="modal" data-bs-target="#exampleModal"></custom-button>
                </div>
            </div>
        }

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmation</h1>
                        <button Text="Close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to delete the project?
                    </div>
                    <div class="modal-footer">
                        <form asp-action="delete">
                            <input type="hidden" name="id" id="key" />
                            <custom-button Text="No, go back" data-bs-dismiss="modal"></custom-button>
                            <custom-button Text="Delete" type="submit"></custom-button>
                         </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>